.folder {
    user-select: none;
    display: inline-flex;
}

.title {
    font-size: 14px;
    color: #5E6366;
    white-space: nowrap;
}

.titleBlock {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.children {
    margin-top: 14px;
}

.folder2Icon {
    margin-right: 11px;
}

.toggleIcon {
    cursor: pointer;
    flex-shrink: 0;
    margin-top: -3px;
    margin-left: -15px;
    padding-right: 8px;
}
