.folder {
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.title {
    font-size: 14px;
    color: #5E6366;
}

.container {
    display: flex;
    align-items: center;
}

.children {
    padding-left: 18px;
    margin-top: 12px;
}

.folder2Icon {
    margin-right: 10px;
}

.toggleIcon {
    margin-top: -6px;
    margin-right: 6px;
}
