.folder {
    user-select: none;
    width: 100%;
    display: flex;
}

.clickable {
    cursor: pointer;
}

.title {
    font-size: 14px;
    color: #5E6366;
    white-space: nowrap;
}

.container {
    display: flex;
}

.children {
    margin-top: 14px;
    padding-left: 12px;
}

.arrowIcon {
    margin-right: 10px;
}

.folder1Icon {
    margin-right: 7px;
    margin-top: -3px;
}

.folder2Icon {
    margin-right: 11px;
}

.toggleIcon {
    flex-shrink: 0;
    margin-top: -2px;
    margin-left: -17px;
    margin-right: 8px;
}
