.folder {
    user-select: none;
    display: inline-flex;
}

.title {
    font-size: 14px;
    color: #5E6366;
    white-space: nowrap;
}

.container {
    cursor: pointer;
    display: inline-flex;
}

.children {
    margin-top: 14px;
}

.arrowIcon {
    cursor: pointer;
    padding-right: 10px;
}

.folder1Icon {
    margin-right: 7px;
    margin-top: -3px;
}

.folder2Icon {
    margin-right: 11px;
}

.toggleIcon {
    cursor: pointer;
    flex-shrink: 0;
    margin-top: -3px;
    margin-left: -20px;
    padding-right: 8px;
}
