.container {
    padding-top: 100px;
    padding-left: 300px;
}

.line {
    background: #E3E5E5;
    height: 1px;
    margin-top: 10px;
}

.subCaption {
    color: #5E6366;
    font-size: 14px;
    padding: 12px 16px;
}