.container {
    padding-top: 50px;
    padding-left: 300px;
}

.tree {
    display: inline-flex;
    flex-direction: column;
}

.rightBlock {
    padding-top: 80px;
}

.line {
    background: #E3E5E5;
    height: 1px;
    margin-top: 10px;
}

.subCaption {
    display: inline-block;
    color: #5E6366;
    font-size: 14px;
    padding: 12px 16px;
}
