.title {
    font-size: 14px;
}

.value {
    color: #919699;
}

.element {
    display: inline-flex;
    min-width: 168px;
}

.content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    margin-right: 18px;
}
